@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
header{
	width: 100%;
	height: 50px;
	background-color: rgba(234, 234, 234, .8);
	z-index: 2;
    position: relative;
}
header .container{
   position: relative;
}
header .container hr{
	position: absolute;
    width: 1360px;
    margin-left: -426px;
    margin-top: 16px;
    border-color: #d8d5d5;
}
#logo {
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/akuarela-logo.jpg") no-repeat;
	background-position: 0px -100px;
	top: -52px;
}
#banner {	
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: -220px;
}
#menu {
	margin: 12px 0;
}
#menu li {
	display: inline-block;
	font-family: "OpenSans";
}
#menu li a {
	color: #000;
	font-size: 13px;
	padding: 10px 25px;
	font-weight: bold;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 2px;
}
#news {
	position: relative;
    top: 25px;
}
#news h2 {
	color:#5E2799;
	font-family: 'OpenSans';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
#news hr {
	border:#FDE192 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnails {
	margin-top: 20px;
}
#news .thumbnails h3 {
	color: #5E299A;
	font-size: 18px;
	font-family: 'OpenSans';
	font-weight: bold;
	margin-bottom: 0;
}
#news .thumbnails time {
	color:#A7A7A7;
	font-size: 18px;
	font-family: 'OpenSans';
}
#news .thumbnails .item-inner {
	padding: 10px;
}
#news .thumbnails .item-inner img {
	width: 100%;
}
footer .row{
	width: 100%;
	margin-left: 0;
}
footer .row p{
	line-height: 55px;
	margin-bottom: 0;
}
footer .row-cinza-claro{
	height: 240px;
	background-color: #171F26;
	margin-top: 47px;
}
footer .col-links,
footer .col-contato{
	margin-top: 35px;
	margin-left: 125px;
}
footer .row-cols h4 {
	font-family: 'OpenSans';
	font-size: 16px;
	color: #FFF;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
}
footer .row-cols time {
	color: #FDE092;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links a {
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links .fa {
	margin: 0 6px;
}
footer .col-contato address {
	color:#666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 6px;
}
footer .col-contato address span {
	display: inline-block;
}
footer .col-contato address i {
	position: relative;
	top: -14px;
}
footer .col-contato i {
	color: #9B9B9B;
	font-size: 20px;
	margin: 0 6px;
}
footer .col-contato a {
	color: #666;
}
footer .col-contato p {
	line-height: 20px;
}
footer .list-socials {
	margin-top: 4px;
}
footer .list-socials li {
	display: inline-block;
	margin-right: 8px;
}
footer .list-socials a {
	display: block;
	border: #9B9B9B 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}
footer .list-socials i {
	font-size: 16px;
	margin: 7px auto;
}